.align, .heading {
    background-color: #1F2937;
    color: white
}

* {
    font-family: roboto, sans-serif;
    
}

div {
    display :flex

}

.heading {
    flex: 1 ;
    flex-direction: column;

}



.align {
    flex: 1
}
.desc {
    display: flex;
}


.actual-desc {
    flex: 1;
}

.end {
    flex: 1;
}

.products {
    display:flex
}

.left {
    flex: 1
}

.middle {
    flex: 1
}

.right {
    flex: 1
}

.head2 {
    display: flex;
    
}

.a {
    flex: 1
}

.b {
    flex: 1
}

.c {
    flex: 1
}


.middle {
    justify-content: space-between;
    
}

.product3 {
    
    width: 120px;
    height: 120px;
    background-color: red;
    outline: 20px maroon;
    border-radius: 24px;
}

.product1 {
    
    width: 120px;
    height: 120px;
    background-color: red;
    outline: 20px maroon;
    border-radius: 24px;
}
.product2 {
    
    width: 120px;
    height: 120px;
    background-color: red;
    outline: 20px maroon;
    border-radius: 24px;
}

.product4 {
    
    width: 120px;
    height: 120px;
    background-color: red;
    outline: 20px maroon;
    border-radius: 24px;
}

img {
    width:auto;
    height: 500px;
}

.Contributebanner {
    display: flex;
}

.split {
    flex-direction: column;
    flex: 1
}

.image {
    flex: 1;
}

.contributebanner {
    background-color: #1F2937;
    color: white;
}


a {
    color: white;
}

.righter {
    flex: 1;
}

div {
    font-size: 20px;
}

.head2,
.products {
    background-color: white;
}

.header {
    display: flex;
}

.headeritem {
    flex: 1;
    justify-content: space-between;
    background-color: #1F2937;
}

.headeritem2 {
    background-color: #1F2937;
    color: white;
}

.footer {
    display: flex;
}

.footeritem {
    flex: 1;
    background-color: #1F2937;
    color: white;

}


